[node0]  # The node you will use to run init the swarm (must be a manager)
public_ip ansible_port=2002

[all]  # all nodes ips
public_ip ansible_port=2002
priv_ip ansible_port=2002 ansible_ssh_common_args="-J ubuntu@bastion_ip"  # this needs to be used for private ssh hosts that need a bastion

[managers]  # manager nodes ips
public_ip ansible_port=2002

[workers]  # worker nodes ips
priv_ip ansible_port=2002 ansible_ssh_common_args="-J ubuntu@bastion_ip"  # this needs to be used for private ssh hosts that need a bastion
